@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="grid-item homeText">
        <p> Please choose the theme of your story:</p>
    </div>

    <div class="grid-item themeLinks">
        <a class="themeLink" href="http://localhost:56887/Animals/Index">
            <img class="themeLinkBorder" src="~/homePageIcons/frog.png" width="100" />
        </a>
        <a class="themeLink" href="http://localhost:56887/Pirates/Index">
            <img class="themeLinkBorder" src="~/homePageIcons/pirate.png" width="100" />
        </a>
        <a class="themeLink" href="http://localhost:56887/Princesses/Index">
            <img class="themeLinkBorder" src="~/homePageIcons/princess.svg" width="100" />
        </a>
    </div>

    <div class="grid-item themeDescriptions">
        <p id="descriptionText">Animals Pirates Princesses</p>
    </div>
</div>