/*body {
    display: grid;
    min-width: 1336px;
    min-height: 700px;
    width: 90%;
    margin:0px;
    padding:0px;
    background-image: url('../pirateImages/austin-neill-685080-unsplash.jpg');
    background-size: cover;
}*/

.container {
    display: grid;
    min-width: 1336px;
    min-height: 700px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(100, 55px);
    margin: 0px;
    width: 90%;
    justify-content:center;
}

.navbar{
    grid-row: 1;
    grid-column: 1 / span 6;
    width:90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

    li a {
        display: block;
        color: darkslategray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: darkslategray;
            color:white;
        }

.active {
    background-color: #9d898e;
}

.homeText {
    grid-row: 3 / span 2;
    grid-column: 3 / span 2;
    font-size: 24px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.themeLinks {
    grid-row: 5 / span 3;
    grid-column: 3 / span 2;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.themeLinkBorder {
    padding:5px;
    border: 1px solid black;
    border-radius:15px;
}

.themeDescriptions {
    grid-row: 7;
    grid-column: 3 / span 3;
    font-size: 18px;
}

#descriptionText {
    word-spacing:65px;
    padding-left:10px;
}

.pirateEntries {
    background-color: antiquewhite;
    min-width: 1336px;
    text-align: center;
    opacity: 0.7;
}